<li class="nav-item notification-list d-none d-lg-block topbar-dropdown">
    <a style="color: #fff;" class="nav-link" href="{{ path('admin_login') }}">Admin Login</a>
</li>
<li class="nav-item notification-list d-none d-lg-block topbar-dropdown">
    <a style="color: #fff;" class="nav-link" href="{{ path('instructor_login') }}">Instructor Login</a>
</li>
<li class="nav-item notification-list d-none d-lg-block topbar-dropdown">
    <a style="color: #fff;" class="nav-link" href="{{ path('instructor_register') }}">Instructor Register </a>
</li>
