<a class="topnav-logo" href="{{ path('homepage') }}">
    <span class="topnav-logo-lg">
        <img class="nav-profile-img" src="{{ asset('images/lmap_logo_white.png') }}" height="20">
    </div>
</a>