<li class="dropdown notification-list topbar-dropdown d-none d-lg-block">
    <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" id="topbar-languagedrop" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="{{ asset('images/country/australia.png') }}" alt="user-image" class="me-1" height="12"> 
        <span class="align-middle">English</span> 
        <i class="bi bi-bell"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu" aria-labelledby="topbar-languagedrop" style="">
        <a href="#" class="dropdown-item notify-item">
            <img src="{{ asset('images/country/vietnam.png') }}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Vietnam</span>
        </a>

        <a href="#" class="dropdown-item notify-item">
            <img src="{{ asset('images/country/thailand.png') }}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Thailand</span>
        </a>
    </div>
</li>