<div class="col-sm-{{ is_granted('ROLE_ADMIN') ? '8' : '12' }}">
    <div class="text-sm-end">
        <div class="btn-group mb-3">
            <button type="button" class="btn btn-primary">All</button>
        </div>
        <div class="btn-group mb-3 ms-1">
            <button type="button" class="btn btn-light">Ongoing</button>
            <button type="button" class="btn btn-light">Finished</button>
        </div>
        <div class="btn-group mb-3 ms-2 d-none d-sm-inline-block">
            <button type="button" class="btn btn-secondary"><i class="dripicons-view-apps"></i></button>
        </div>
        <div class="btn-group mb-3 d-none d-sm-inline-block">
            <button type="button" class="btn btn-link text-muted"><i class="dripicons-checklist"></i></button>
        </div>
    </div>
</div>