{% extends 'base.html.twig' %}

{% block page_title %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_INSTRUCTOR') %}
        {{ include('_page_title.html.twig', {
            breadcrumb_primary: 'Hyper',
            breadcrumb_second: 'Workshops',
            breadcrumb_active: 'Workshop List',
            page_title: 'Workshops'
        })}}
    {% else %}
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                    </div>
                    <h4 class="page-title"></h4>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_block %}

    {% block workshop_toolkit %}
        <div class="row mb-2">
            {% if is_granted('ROLE_ADMIN')%}
                {{ include('_admin_primary_btns.html.twig')}}
            {% endif %}

            {{ include('_workshop_filter.html.twig')}}
        </div>
    {% endblock %}

    {% block workshop_list %}
        <div class="row">
            {{ include('workshop_list.html.twig')}}
        </div>
    {% endblock %}
    
{% endblock %}
