{% if workshop.statusCode == 1 and workshop.remainingCapacity > 0 %}
    <a href="{{ path('workshop_detail', {'id': workshop.id }) }}" class="d-inline-block btn btn-success float-right" style="width: 50%;">Register</a>
{% elseif workshop.statusCode == 1 and workshop.remainingCapacity <= 0 %}
    <button type="button" class="d-inline-block btn btn-danger float-right" style="width: 50%; cursor: not-allowed;" disabled="disabled">Booked out</button>
{% elseif  workshop.statusCode == 0 %}
    <button type="button" class="d-inline-block btn btn-primary float-right" style="width: 50%; cursor: not-allowed;" disabled="disabled">Ongoing</button>
{% elseif  workshop.statusCode == -1 %}
    <button type="button" class="d-inline-block btn btn-secondary float-right" style="width: 50%; cursor: not-allowed;" disabled="disabled">Finished</button>
{% endif %}