<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Progress</h5>
        <div dir="ltr">
            <div class="mt-3 chartjs-chart" style="height: 320px;"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="line-chart-example" width="707" style="display: block; height: 320px; width: 566px;" class="chartjs-render-monitor" height="400"></canvas>
            </div>    
        </div>
    </div>
</div>